



button {
    background-color: orange;
    color: white;
}

.error {
    color: red;
    border:1px solid red;
}

.logo-color{
    color:orange;
    font-size: 3em;
}

.ties{
    margin-bottom:100px;
}
.secondary-color{
    color: #eb9316;
    font-size: 2em;
}