



button {
    background-color: orange;
    color: white;
}

.error {
    color: red;
    border:1px solid red;
}

.logo-color{
    color:orange;
    font-size: 3em;
}

.ties{
    margin-bottom:100px;
}
.secondary-color{
    color: #eb9316;
}
.imgItems{
    height: 5em;
    margin: 0 auto 5px auto;
}

.winnerBorder{
    border-bottom: .25em solid greenyellow;
}
.tieBorder, .loserBorder{
    border-bottom: .25em solid red;
}